html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    scroll-behavior: smooth;
}

body {
    background-image: radial-gradient(
            circle,
            rgba(56, 150, 139, 0.17690826330532217) 42%,
            rgba(46, 39, 37, 0.8323704481792717) 63%
        ),
        url(https://miro.medium.com/max/1400/1*5lyavS59mazOFnb55Z6znQ.png);
    background-size: cover;
}
